@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

body {
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

main {
    display: flex;
}

/* side bar menu  */
.side-bar-menu {
    background-color: #333333;
    height: 100vh;
    padding: 5rem 0 0 2rem;
    position: fixed;
}

.side-bar-menu div {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.side-bar-menu div img {
    margin-right: 1rem;
}

.side-bar-menu div p {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    color: #F6FBFF;
}

.side-bar-menu div.active {
    background: linear-gradient(261.32deg, #F6FBFF 14.46%, rgba(246, 251, 255, 0.71) 98.47%);
}

.side-bar-menu div p.active {
    color: #333333;
}

.side-bar-menu div img.active {
    filter: invert(100%);
}

.customers img {
    width: 1.6rem;
    height: 1.6rem;
}
/* end  */

/* main section  */
.main-section {
    margin-left: 15rem;
    width: 100%;
}

/* top bar  */

.top-bar {
    background-color: #EAEEFC;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
}

.nav-icon {
    display: none;
}

.top-bar input {
    width: 15rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: #DFE2E5;
    border: none;
    font-size: 1rem;
}

.top-bar input::placeholder {
    color: #454444B2;
}

.notification-icon, .notification-circle {
    cursor: pointer;
}

.notification-circle {
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 100%;
    background-color: #036603;
    position: absolute;
    right: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification-circle p {
    color: #F6FBFF;
    font-weight: 500;
    margin: 0;
}

.profile-img {
    margin-right: 2rem;
}

.profile-img, .profile-img img {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
}

/* dashboard section  */
.dashboard-section {
    padding-left: 1rem;
}

.dashboard-section h1 {
    font-size: 2.25rem;
    color: #2D2C2C;
}

.item-analytics-flex {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-right: 5rem;
    gap: 3rem;
}

.total-earning, .new-orders, .total-orders, .total-customers {
    background-color: #EAEEFC;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 0.5px solid #737A8CB2;
    box-shadow: 2px 16px 30px rgba(3, 41, 241, 0.05);
}

.total-earning {
    border-left: 0.5rem solid #036603;
}
.new-orders {
    border-left: 0.5rem solid #570D7A;
}
.total-orders {
    border-left: 0.5rem solid #B68915;
}
.total-customers {
    border-left: 0.5rem solid #1953A9;
}

.total-earning-text, .new-orders-text, .total-orders-text, .total-customers-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.total-earning-text p, .new-orders-text p, .total-orders-text p, .total-customers-text p {
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    color: #2D2C2C;
    font-size: 1rem;
}

.percent-icon {
    display: flex;
    align-items: center;
}

.percent-icon img {
    width: 1.0625rem;
    height: 1.0625rem;
    margin-right: 0.5rem;
}

.total-earning-text .last, .new-orders-text .last, .total-orders-text .last, .total-customers-text .last {
    font-family: 'Times New Roman', Times, serif;
}

.earning-figure, .new-figure, .orders-figure, .customer-figure {
    font-size: 2rem;
    font-family: 'DM Sans', sans-serif;
    color: #454444F2;
    margin: 0;
}

.total-earning-logo, .new-orders-logo, .total-orders-logo, .total-customers-logo {
    margin-top: 1rem;
    display: flex;
    justify-content: end;
}

.dashboard-section.active {
    display: none;
}

/* analytics  */
.analytics{
    margin:2.5rem 5rem 3rem 0;
}

/* sales and best selling  */

.sales-best-selling {
    display: flex;
    gap: 1rem;
}

.sales-analysis, .best-selling {
    background-color: #EAEEFC;
    border-radius: 1rem;
    padding: 2rem 1rem 3rem;
    height: fit-content;
    border: 0.5px solid #737A8CB2;
    box-shadow: 2px 16px 30px rgba(3, 41, 241, 0.05);
}

.title-period, .title-category, .title-add-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.title-period h2, .title-category h2 {
    font-size: 1.5rem;
    color: #535354;
    font-family: 'DM Sans', sans-serif;
    margin: 0;
}

.title-period select, .title-category select {
    padding: 0.5rem 1rem;
    background-color: transparent;
    border: 1px solid #535354;
    font-size: 1rem;
    color: #535354;
    border-radius: 0.5rem;
    font-weight: 500;
    
}

.bar-chart {
    display: flex;
}

.price-range p {
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #6A6A6A;
    margin: 0 0 2.5rem;
}

.price-range :last-child {
    margin: 0;
}

.bars {
    display: flex;
    margin-left: 3rem;
    gap: 2rem;
    margin-bottom: -2rem;
}

.period-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}
.period-bar p {
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #6A6A6A;
    margin: 0.3rem 0 0;
}

.bar {
    /* height: 50%; */
    width: 1.5rem;
    background-color: #545454;
    border-radius: 0.8rem;
}

.bar1 {
    height: 40%;
}
.bar2 {
    height: 50%;
}
.bar3 {
    height: 30%;
}
.bar4 {
    height: 100%;
}
.bar5 {
    height: 20%;
}
.bar6 {
    height: 60%;
}
.bar7 {
    height: 60%;
}

/* best selling */
.best-selling {
    padding-bottom: 2rem;
}

.best-selling-item {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.item-image {
    width: 40%;
}

.product-name, .item-details small {
    font-size: 1rem;
    color: #232323;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    margin: 0;
}

.item-rating {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}

.item-rating p {
    font-size: 0.97rem;
    margin: 0;
    font-weight: 700;
    color: #636262;
    font-family: 'DM Sans', sans-serif;
}

.best-selling-item1 {
    margin-bottom: 1rem;
}

.see-more {
    font-size: 1rem;
    font-family: 'DM Sans', sans-serif;
    color: #535353;
    font-weight: 500;
    text-decoration: none;
    margin-top: 1rem;
    display: flex;
    justify-content: end;
}


/* products and ordered item */

.products-ordered-item {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}

.title-add-item h2 {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'DM Sans', sans-serif;
    color: #2D2C2C;
    margin: 0 0 0 1rem;
}

.title-add-item button {
    color: #036603;
    font-size: 1rem;
    cursor: pointer;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    border-radius: 0.5rem;
    padding:0.5rem 0.6rem;
    background-color: rgba(124, 176, 129, 0.25);
    border: none;

}

.products, .ordered-item {
    width: 100%;
    background-color: #EAEEFC;
    padding: 2rem 0;
    border-radius: 1rem;
    border: 0.5px solid #737A8CB2;
    box-shadow: 2px 16px 30px rgba(3, 41, 241, 0.05);
}
 table{
    width: inherit;
}

th {
    text-align: left;
    border-bottom: 1px solid #888888CC;
    padding-bottom: 1rem;
    font-size: 1.25rem;
    color: #545353;
    font-weight: 500;
    font-family: 'DM Sans', sans-serif;
}

.tr-1 td {
    padding-top: 1.5rem;
}



td {
    padding-bottom: 1rem;
    font-size: 1rem;
    font-family: 'DM Sans', sans-serif;
    color: #232323;
    font-weight: 700;
    cursor: pointer;
}

.delete-edit {
    display: flex;
    gap: 1.3rem;
}

.order-status {
    padding-right: 1rem;
}

td button {
    padding: 0.625rem;
    font-size: 1rem;
    font-weight: 700;
    width: 100%;
    cursor: pointer;
    border-radius: 0.5rem;
    border: none;
}

.pending {
    color: #B68915;
    background-color: #CCBB9040;
}

.completed {
    color: #036603;
    background-color: #74D17440;
}

.failed {
    color: #DC0C0C;
    background-color: #D0949440;
}

.analytics.active {
    display: none;
}

/* //////////////////PRODUCT PAGE///////////////  */
.product-page {
    margin:2.5rem 5rem 3rem 0;
}

.products-pg {
    width: 100%;
    background-color: #EAEEFC;
    padding: 2rem 0;
    border-radius: 1rem;
    border: 0.5px solid #737A8CB2;
    box-shadow: 2px 16px 30px rgba(3, 41, 241, 0.05);
}
.qty, tr td:first-child {
    padding-left: 1rem;
}

tr td:last-child {
    padding-right: 1rem;
}

.action {
    text-align: end;
    padding-right: 1rem;
}

.product-delete-edit {
    display: flex;
    gap: 2rem;
    justify-content: end;
}

.product-delete-edit img {
    cursor: pointer;
}

.tr-2, .tr-4, .tr-6, .tr-8, .tr-10 {
    background: linear-gradient(261.32deg, #F6FBFF 14.46%, rgba(246, 251, 255, 0.71) 98.47%);
    
}

.product-page.active {
    display: none;
}

/*///////////PRODUCT PAGE  WHEN CLICKED ////////////*/

.product-clicked-details {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.product-clicked-details img {
    width: 20%;
    height: auto;
}

.product-clicked, .add-item-product {
    background-color: #EAEEFC;
    padding: 2rem 1rem;
    border-radius: 1rem;
    margin:2.5rem 5rem 3rem 0;
}

.code-name, .price, .in-stock, .sizes, .colors {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.code-name p:first-child, .price p:first-child, .in-stock p:first-child, .sizes p:first-child, .colors p {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'DM Sans', sans-serif;
    color: #6A6A6AF2;
    margin: 0;
}

.code-name p:last-child, .price p:last-child, .in-stock p:last-child {
    font-size: 2rem;
    font-weight: 700;
    color: #232323;
    font-family: 'DM Sans', sans-serif;
    margin: 0;
}

.code-name p:last-child {
    margin-left: 1rem;
}

.price p:last-child {
    margin-left: 6rem;
}

.in-stock p:last-child {
    margin-left: 4rem;
}

.buttons {
    margin-left: 4rem;
}

.buttons button {
    background-color: transparent;
    border: 1px solid #6A6A6A;
    color: #232323;
    font-weight: 500;
    font-size: 0.8rem;
    border-radius: 2px;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
}

.black {
    background-color: black;
}

.green {
    background-color: green;
}

.orange {
    background-color: orange;
}

.blue {
    background-color: blue;
}

.grey {
    background-color: grey;
}
.buttons-color {
    display: flex;
    gap: 0.644rem;
    margin-left: 6rem;
}

.buttons-color button {
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    border: none;
    padding: 0.25rem;
}

.back-btn {
    background-color: #E4E9FD;
    padding:0.5rem 1rem;
    color: #2D2C2C;
    border-radius: 1rem;
    border: none;
    font-size: 0.8rem;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.back-btn i {
    margin-left: 0.5rem;
    color: #2D2C2C;
}

.product-back-flex {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 2rem;
}

/* other products  */
.product-clicked h2 {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'DM Sans', sans-serif;
    color: #232323;
    margin: 0;
}

.product-clicked table {
    width: 100%;
}

.product-clicked.active {
    display: none;
}

/*-- ///////////PRODUCT PAGE  FOR ADD ITEM //////////// */
.add-item-product h2 {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #2D2C2C;
}

.add-item-product form {
    display: flex;
    flex-direction: column;
    border-bottom: 1.5px solid #888888CC;
}

.add-item-product form span {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    color: #232323B2;
    
}

.add-item-product form input, .add-item-product form select {
    margin-bottom: 1.5rem;
    height: 2rem;
    width: 80%;
    border-radius: 0.5rem;
    background: transparent;
    border: 1px solid #232323B2;
    padding-left: 0.5rem;
    font-size: 1rem;
}

.add-item-product form input:focus, .add-item-product form select:focus {
    outline: none;
}

.image-upload {
    width: 15rem;
    height: 15rem;
    background-color: #D4DDFC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #9DA2A7;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-bottom: 3rem;
}

.image-upload p {
    font-size: 1rem;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
    color: #888888;
}

.selected-img {
    width: inherit;
    height: inherit;
}
.selected-img.active {
    display: none;
}

.save-cancle {
    display: flex;
    margin-top: 2rem;
    gap: 2rem;
}

.save-cancle button {
    padding:0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'DM Sans', sans-serif;
    cursor: pointer;
}

.save-btn {
    background-color: #333333;
    color: #F6FBFF;
    border: none;
}

.cancle-btn {
    border: 1px solid #9DA2A7;
    color: #888989;
}

.add-item-product.active {
    display: none;
}


/*-- ///////////ORDERS PAGE //////////// */
.orders-page, .add-item-orders {
    margin:2.5rem 5rem 3rem 0;
}

.orders-pg {
    width: 100%;
    background-color: #EAEEFC;
    padding: 2rem 0;
    border-radius: 1rem;
    border: 0.5px solid #737A8CB2;
    box-shadow: 2px 16px 30px rgba(3, 41, 241, 0.05);
}

 .orders-pg .title-add-item h2 {
    margin: 0 1rem;
}

.title-add-item button {
    margin-right: 1rem;
}

.orders-page.active {
    display: none;
}

/*-- ///////////ORDERS PAGE FOR ADD ITEM//////////// */
.add-item-orders {
    background-color: #EAEEFC;
    padding: 2rem 1rem;
    border-radius: 1rem;
    /* margin:2.5rem 5rem 3rem 0; */
}

.add-item-orders h2 {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #2D2C2C;
}

.add-item-orders form {
    display: flex;
    flex-direction: column;
    border-bottom: 1.5px solid #888888CC;
}

.add-item-orders form span {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    color: #232323B2;
    
}

.add-item-orders form input, .add-item-orders select {
    margin-bottom: 1.5rem;
    height: 2rem;
    width: 80%;
    border-radius: 0.5rem;
    background: transparent;
    border: 1px solid #232323B2;
    padding-left: 0.5rem;
    font-size: 1rem;
}

.add-item-orders form input:focus, .add-item-orders select:focus {
    outline: none;
}

.add-item-orders.active {
    display: none;
}


/*-- /////////// CUSTOMERS PAGE //////////// */
.customers-page, .customer-clicked  {
    background-color: #EAEEFC;
    padding: 2rem 1rem;
    border-radius: 1rem;
    margin:2.5rem 5rem 3rem 0;
}

.customers-page table {
    width: 100%;
}

.customers-page.active {
    display: none;
}

/*-- /////////// CUSTOMERS PAGE WHEN CLICKED //////////// */

.customer-clicked form {
    display: flex;
    flex-direction: column;
    border-bottom: 1.5px solid #888888CC;
}

.customer-clicked form span {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    color: #232323B2;
    
}

.customer-clicked form input {
    margin-bottom: 1.5rem;
    height: 2rem;
    width: 80%;
    border-radius: 0.5rem;
    background: transparent;
    border: 1px solid #232323B2;
    padding-left: 0.5rem;
    font-size: 1rem;
}

.customer-clicked form input:focus {
    outline: none;
}

.total-amount-flex, .total-item-bought {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.total-amount-flex p:first-child, .total-item-bought p:first-child {
    font-size: 1rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    color: #232323B2;
}

.total-item-bought {
    margin-bottom: 3rem;
}

.total-amount-flex p span, .total-item-bought p span, .total-item-bought p:last-child {
    font-size: 1rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    color: #232323;
}

.customer-clicked.active {
    display: none;
}

/*////////// POPUP ALERT ////////// */
.popup-alert {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F6FBFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 80%;
    left: 35%;
    padding: 5rem;
}

.sure {
    font-size: 1.5rem;
    color: #232323;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.warning {
    font-size: 1rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    color: #7B7878;
    margin: 0 0 2rem;
}

.proceed-cancle {
    display: flex;
    gap: 1rem;
}

.proceed-cancle button{
    padding: 0.3rem 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'DM Sans', sans-serif;
    border-radius: 0.5rem;
    cursor: pointer;
}

.proceed-cancle button:first-child {
    background-color: #DE4041;
    color: #F6FBFF;
    border: none;
}

.proceed-cancle button:last-child {
    background-color: #EEF2FF;
    color: #9DA2A7;
    border: 1px solid #9DA2A7;
}

.popup-alert.active {
    display: none;
}


/*////////// NOTIFICATION ////////// */
.notification-section {
    padding-left: 1rem;
    margin-right: 5rem;
}

.notification-section h1 {
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}

.notification-type {
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    padding: 2rem 0 1rem;
    background-color: #EAEEFC;
    border-radius: 1rem 1rem 0 0;
}

.notification-type button {
    font-size: 1rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    color: #333333;
    border: none;
    cursor: pointer;
}

.notification {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem 2rem;
    cursor: pointer;
}

.notify-content-flex {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}

.noti-dot {
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    background-color: #1949C5;
}

.noti-and-time p {
    font-size: 1rem;
    color: #232323;
    margin: 0 0 0.5rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
}

.noti-and-time small {
    font-size: 0.7rem;
    font-weight: 500;
    font-family: 'DM Sans', sans-serif;
    color: #333333;
}

.notification img {
    cursor: pointer;
}

.notification-section.active {
    display: none;
}



/* //////////// MEDIA RESPONSIVENESS /////////// */

@media (max-width:1220px ) {
    /* side bar menu  */
    .side-bar-menu div p {
        font-size: 1rem;
        
    }

    /* main section  */
    .main-section {
        margin-left: 12rem;
    }

    /* dashboard section  */
    .total-earning-text p, .new-orders-text p, .total-orders-text p, .total-customers-text p {
        font-size: 0.8rem;
    }

    .total-earning-logo img, .new-orders-logo img , .total-orders-logo img , .total-customers-logo img {
        width: 2rem;
        height: 2rem;
    }

    /* ///////// PRODUCT PAGE WHEN CLICKED //////////// */
    .code-name p:first-child, .price p:first-child, .in-stock p:first-child, .sizes p:first-child, .colors p {
        font-size: 1rem;
    }

    .code-name p:last-child, .price p:last-child, .in-stock p:last-child {
        font-size: 1.2rem;
    }
    
    .code-name p:last-child {
        margin-left: 1rem;
    }
    
    .price p:last-child {
        margin-left: 4rem;
    }
    
    .in-stock p:last-child {
        margin-left: 3rem;
    }
    
    .buttons {
        margin-left: 3rem;
    }
    
    .buttons button {
        font-size: 0.8rem;
    }

    .buttons-color {
        gap: 0.5rem;
        margin-left: 4rem;
    }
}

@media (max-width:1170px) {
    /* dashboard section  */
    .item-analytics-flex {
        margin-right: 3rem;
        gap: 1.5rem;
    }

    .total-earning, .new-orders, .total-orders, .total-customers {
        padding: 0.5rem;
    }

    /* .analytics section   */
    .analytics{
        margin:2.5rem 3rem 3rem 0;
    }

    /* sales and best selling  */
    .title-period h2, .title-category h2 {
        font-size: 1.2rem;
    }
    
    .title-period select, .title-category select {
        padding: 0.5rem 1rem;    
        font-size: 0.8rem;    
    }
    
    .bar-chart {
        display: flex;
    }
    
    .price-range p, .period-bar p {
        font-size: 0.8rem;        
    }
    
    .bars {
        margin-left: 2rem;
        gap: 1.5rem;
    }
    
    .bar {
        width: 1rem;      
    }

    /* best selling */

    .item-image {
        width: 30%;
    }

    .product-name, .item-details small {
        font-size: 0.8rem;
    }

    .item-rating p {
        font-size: 0.7rem;
    }

    .see-more {
    font-size: 0.8rem;
    }
    
    /* product page  */
    .title-add-item h2 {
        font-size: 1.2rem;
    }

    .title-add-item button {
        font-size: 0.8rem;
    }

    th {
        font-size: 1rem;
    }

    td {
        font-size: 0.8rem;
    }
    
    .delete-edit {
        gap: 1rem;
    }
    
    td button {
        padding: 0.5rem;
        font-size: 0.8rem;
    }

    /* ///////// PRODUCT PAGE ///////// */
    .product-page {
        margin:2.5rem 3rem 3rem 0;
    }

    /* ///////// PRODUCT PAGE WHEN CLICKED //////////// */
    .product-clicked, .add-item-product {
        margin:2.5rem 3rem 3rem 0;
    }
    
    .product-clicked h2 {
        font-size: 1.2rem;
    }

    /* ///////// ORDER PAGE ///////// */
    .orders-page, .add-item-orders {
        margin:2.5rem 3rem 3rem 0;
    }

    /* ///////// CUSTOMER PAGE ///////// */
    .customers-page, .customer-clicked  {
        margin:2.5rem 3rem 3rem 0;
    }
}

@media (max-width:1000px) {
    /* analytics  */
    .item-analytics-flex {
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }

    .sales-best-selling {
        flex-direction: column;
    }

    .products-ordered-item {
        flex-direction: column;
    }

    /* ///////// PRODUCT PAGE WHEN CLICKED //////////// */
    .code-name p:first-child, .price p:first-child, .in-stock p:first-child, .sizes p:first-child, .colors p {
        font-size: 0.8rem;
    }

    .code-name p:last-child, .price p:last-child, .in-stock p:last-child {
        font-size: 1rem;
    }
    
    .code-name p:last-child {
        margin-left: 1rem;
    }
    
    .price p:last-child {
        margin-left: 4rem;
    }
    
    .in-stock p:last-child {
        margin-left: 3rem;
    }
    
    .buttons {
        margin-left: 3rem;
    }
    
    .buttons button {
        font-size: 0.6rem;
    }

    .buttons-color button {
        width: 1.5rem;
        height: 1.5rem;
    }

    .back-btn {
        padding:0.25rem 0.5rem;
        border-radius: 1rem;
        font-size: 0.8rem; 
    }

    .back-btn i {
        margin-left: 0.2rem;
    }
}

@media (max-width:810px) {
    .side-bar-menu {
        display: none;  
    }

    .side-bar-menu.active {
        display: inline;
        padding: 2rem 0 0 2rem;
        height: fit-content;
    }

    .dashboard {
        margin-top: 3rem;
    }

    .close-sidebar {
        display: inline;
        filter: invert(100%);
        cursor: pointer;
    }

     /* main section  */
     .main-section {
        margin-left: 0;
    }

    /* top bar  */
    .top-bar {
        justify-content: start;
        gap: 1rem;
        padding: 1rem;
    }

    .nav-icon {
        display: inline;
        cursor: pointer;
    }

    .top-bar input {
        width: 20rem;
        font-size: 0.8rem;
        margin-right: 35%;
    }

    .notification-circle {
        width: 1rem;
        height: 1rem;
        top: 4.5%;
        right: 7rem;
    }
}

@media (max-width:730px) {
    /* ///////// ORDER PAGE ///////// */
    .orders-page th {
        font-size: 0.8rem;
    }

    .orders-page td {
        font-size: 0.6rem;
    }
    
    .orders-page .product-delete-edit {
        gap: 0.5rem;
    }
    
    .orders-page td button {
        padding: 0.25rem;
        font-size: 0.5rem;
    }
}

@media (max-width:650px) {

    /* top bar  */
    .notification-circle {
        width: 1rem;
        height: 1rem;
        top: 3.5%;
        right: 4rem;
    }

    .notification-circle p {    
        font-size: 0.7rem;
    }

    .profile-img {
        margin-right: 0;
    }

    .profile-img, .profile-img img {
        width: 2rem;
        height: 2rem;
    }

    /* side bar menu  */
    .side-bar-menu { 
        padding: 5rem 0 0 1rem;
    }  

    .side-bar-menu div {
        margin-bottom: 1rem;
        padding: 0.5rem 0.8rem;
    }
    
    .side-bar-menu div img {
        margin-right: 0.8rem;
    }
    
    .side-bar-menu div img {
        width: 1.3rem;
        height: 1.3rem;
    }

    /* dashboard section  */
    .item-analytics-flex {
        gap: 1.5rem;
        margin-right: 1.5rem;
    }

    /* analytics  */
    .analytics{
        margin:2.5rem 1.5rem 3rem 0;
    }  

    /* ///////// PRODUCT PAGE WHEN CLICKED //////////// */
    .product-clicked-details {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    
    .product-clicked-details img {
        width: 50%;
        height: auto;
    }
    
    .product-clicked, .add-item-product {
        margin:2.5rem 1.5rem 3rem 0;
    }

    /* ///////// ORDER PAGE ///////// */
    .orders-page, .add-item-orders {
        margin:2.5rem 1.5rem 3rem 0;
    }

    /* ///////// CUSTOMER PAGE ///////// */
    .customers-page, .customer-clicked  {
        margin:2.5rem 1.5rem 3rem 0;
    }
}

@media (max-width:600px) {
    /* side bar menu  */
    .side-bar-menu { 
        padding: 5rem 0 0 0.5rem;
    }  

    .side-bar-menu div {
        margin-bottom: 1rem;
        padding: 0.5rem 0.8rem;
    }

    .side-bar-menu div p {
        font-size: 0.8rem;
        
    }
    
    .side-bar-menu div img {
        width: 1rem;
        height: 1rem;
    }

    /* dashboard section  */
    .dashboard-section h1 {
        font-size: 1.5rem;
    }
}

@media (max-width:500px) {
    /* side bar menu  */
    .side-bar-menu div p {
        font-size: 0.6rem;
        
    }

    .side-bar-menu div img {
        width: 0.8rem;
        height: 0.8rem;
        margin-right: 0.5rem;
    }

    /* top bar  */
    .top-bar input {  
        margin-right: 20%;
    }


    /* analytics  */
    .item-analytics-flex {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        margin-right: 1rem;
    }

    .analytics{
        margin:2.5rem 1rem 3rem 0;
    } 

    /* sales and best selling  */
     .title-period h2, .title-category h2 {
        font-size: 0.8rem;
    }
    
    .title-period select, .title-category select {
        padding: 0.3rem 0.6rem;    
        font-size: 0.8rem;    
    }
    
    .price-range p, .period-bar p {
        font-size: 0.5rem;        
    }
    
    .bars {
        margin-left: 1.2rem;
        gap: 1rem;
    }
    
    .bar {
        width: 0.8rem;      
    }

    /* product page  */
    .title-add-item h2 {
        font-size: 0.8rem;
    }

    .title-add-item button {
        font-size: 0.5rem;
    }

    th {
        font-size: 0.6rem;
    }

    td {
        font-size: 0.5rem;
    }
    
    .delete-edit {
        gap: 1.5rem;
    }
    
    td button {
        padding: 0.5rem;
        font-size: 0.5rem;
    }

    /* ///////// PRODUCT PAGE ///////// */
    .product-page {
        margin:2.5rem 1rem 3rem 0;
    }

    .product-page .product-delete-edit {
        gap: 1rem;
    }

    /* ///////// PRODUCT PAGE WHEN CLICKED //////////// */   
    .product-clicked, .add-item-product {
        margin:2.5rem 1rem 3rem 0;
    }

    .buttons button {
        font-size: 0.5rem;
        padding: 0.15rem 0.3rem;
    }

    .product-clicked h2 {
        font-size: 1rem;
    }

    /* ///////// ORDER PAGE ///////// */
    .orders-page, .add-item-orders {
        margin:2.5rem 1rem 3rem 0;
    }

    .orders-page th {
        font-size: 0.6rem;
    }

    .orders-page td {
        font-size: 0.5rem;
    }

    .orders-page .product-delete-edit img {
       width: 0.8rem;
       height: 0.8rem;
    }

    /* ///////// CUSTOMER PAGE ///////// */
    .customers-page, .customer-clicked  {
        margin:2.5rem 1rem 3rem 0;
    }  

    .customers-page .product-delete-edit {
        gap: 0.5rem;
    }
    
    .customers-page .product-delete-edit img {
        width: 0.8rem;
        height: 0.8rem;
     }

}

@media (max-width:430px) {
    /* top bar  */
    .top-bar input {  
        margin-right: 15%;
    }

    /* ///////// PRODUCT PAGE WHEN CLICKED //////////// */   
    .buttons button {
        font-size: 0.3rem;
        padding: 0.1rem 0.2rem;
    }

     /* ///////// ORDER PAGE ///////// */
    .orders-page th {
        font-size: 0.4rem;
    }

    .orders-page td {
        font-size: 0.3rem;
    }

    .orders-page td button {
        padding: 0.15rem;
        font-size: 0.3rem;
    }

    /* ///////// CUSTOMER PAGE ///////// */
    .customers-page th {
        font-size: 0.4rem;
    }

    .customers-page td {
        font-size: 0.3rem;
    }

    .customers-page td button {
        padding: 0.15rem;
        font-size: 0.3rem;
    }
}

@media (max-width:407px) {
    /* top bar  */
    .top-bar input {  
        width: 15rem;
        margin-right: 10%;
    }
}

@media (max-width:385px) {
    /* top bar  */
    .top-bar input {  
        width: 15rem;
        margin-right: 5%;
    }
}

@media (max-width:370px) {
    /* top bar  */
    .top-bar input {  
        width: 15rem;
        margin-right: 2%;
    }

    /* ///////// PRODUCT PAGE WHEN CLICKED //////////// */   
    .back-btn {
        padding:0.22rem 0.4rem;
        border-radius: 0.5rem;
        font-size: 0.5rem; 
    }

    .back-btn i {
        margin-left: 0.1rem;
    }
}